header {
    background-color: #1F1F1F;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column; /* Mudamos para coluna para que os links fiquem em cima e o nome embaixo */
    align-items: center; /* Centraliza os links e o nome do usuário */
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
    width: 100%;
    max-width: 700px;
    color: #FF914D;
  }
  
  header a {
    color: #FF914D;
    font-size: 1rem;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  header a:hover {
    color: #FF6700;
  }
  
  /* Estilo para o nome do usuário */
  .user-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: #E5E5E5;
    margin-top: 0.5rem; /* Espaçamento acima do nome do usuário */
  }
  